<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" type="image/png" sizes="20x20" href="/imgs/register/icon2.png">
    <title> Planify | Register </title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form id="myForm" method="post" action="/auth/register">
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a href="#" class="icon" id="googleSignIn"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon" id="facebookSignIn"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon" id="githubSignIn"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon" id="linkedinSignIN"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                
                <div class="icon-champ" id="con-name">
                    <i class="fa-solid fa-user"></i>
                    <span></span>
                    <input type="text" placeholder="Name"  id="name" required name="fname">
                </div>
                <p id="nameError"></p>
                <div class="icon-champ" id="con-mail">
                    <i class="fa-solid fa-envelope"></i>
                    <span></span>
                    <input type="email" placeholder="Email" id="email" required name="email">
                </div>
                <p id="emailError"></p>
                <div class="icon-champ" id="con-password">
                    <i class="fa-solid fa-lock"></i>
                    <span></span>
                    <input type="password" placeholder="Password" id="password" required name="password">
                </div>
                <p id="passwordError"></p>
                <div class="btn-container">
                    <button type="submit">Sign Up</button>
                    <button type="reset">Clear</button>
                </div>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <a href="/auth/login"><button class="hidden" id="login" >Sign In</button></a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/register.js" type="module"></script>
</body>
</html>